*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
}

article,aside{
	float:left;
}
li{
	list-style: none;
	cursor: pointer;
	float: left;
}
a,button{
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 12px Arial;
    outline:none;
}
address, caption, cite, code, dfn, em, i, th, var{
	font-style: normal;
    font-weight: normal;
}
article,aside{
	display: block;
	float: left;
}
header{
	width: 100%;
	height: 180px;
	background: url(../img/header.jpg) no-repeat center;
	.top{
		height: 42px;
		box-shadow: 0 2px 1px rgba(0,0,0,0.1);
		position: relative;
		font-size: 13px;
		.topblur{
			height: 100%;
			width: 100%;
			background: url(../img/header.jpg) no-repeat center 0;
			-webkit-filter: blur(5px);
			filter: blur(5px);
			z-index: 50;
			position: absolute;
		}
		.topContent{
			height: 100%;
			width: 100%;
			background: rgba(255,255,255,0.4);
			position: absolute;
			z-index: 100;
			.topBox{
				width: 980px;
				height: 180px;
				margin: 0 auto;
				position: relative;
				li{
					float: left;
					text-align: center;
					line-height: 42px;
				}
				.topNav{
					height: 100%;
					float: left;
					li{
						padding: 0 15px;
						position:relative;
						&:hover{
							background: rgba(255,255,255,0.4);
						}
						&:nth-child(1){
							background-image: url(../img/icons.png);
							background-repeat: no-repeat;
							background-position: -910px -74px;
							padding: 0 15px 0 30px;
						}
						em{
							display: block;
							width: 25px;
							height: 15px;
							position:absolute;
							background:url(../img/icons.png) no-repeat -851px -412px;
							right: -10px;
							top:10px;;
						}
					}
				}
				.topUser{
					float: right;
					&>ul>li>a{
						padding: 0 15px 0 15px;
						display: inline-block;
					}
					&>ul>li>a:hover{
						background: rgba(255,255,255,0.4);
					}
					.load i{
						border-left: 1px solid #000;
					}
					.contribute{
						height: 48px;
						background: url(../img/topUser.png) center center no-repeat;
						font-size: 14px;
						color: #fff;
						.menu{
							position: absolute;
							width: 216px;
							height: 64px;
							top:42px;
							right: 0;
							background-color: #fff;
							border-radius: 0 0 4px 4px;
							display: none;
							li{
								width: 72px;
								height: 100%;
								line-height: 0;
								&:hover{
									background-color: rgba(0,0,0,0.1);
								}
							}
							.icon1{
								background: url(../img/icons.png) no-repeat -471px -919px;
							}
							.icon2{
								background: url(../img/icons.png) no-repeat -471px -982px;
							}
							.icon3{
								background: url(../img/icons.png) no-repeat -471px -1753px;
							}
						}
						&:hover .menu{
							display: block;
						}
						i{
							width: 20px;
							height: 20px;
							display: block;
							margin: 13px auto;
						}
						em{
							color: #f25d8e;
							font-size: 12px;
						}
					}
				}
			}
			.log{
				position: absolute;
				width: 220px;
				height: 105px;
				top: 55px;
				left: 24px;
			}
			.search{
				width: 342px;
				height: 32px;
				position: absolute;
				right: 0;
				top:120px;
				a{
					width: 68px;
					height: 32px;
					display: block;
					background-color:rgba(255,255,255,0.88);
					border-radius: 4px;
					position: absolute;
					&:hover{
						background-color:#fff;
					}
					span{
						width: 68px;
						height: 32px;
						display: block;
						background: url(../img/icons.png) -659px -655px no-repeat;
						color: #f25d8e;
						padding: 7px 0 0 25px;
						font-size: 12px
					}
				}
				form{
					width: 270px;
					height: 32px;
					position: absolute;
					background-color:rgba(255,255,255,0.88);
					border-radius: 4px;
					right: 0;
					&:hover{
						background-color:#fff;
					}
					input{
						border: none;
						height: 100%;
						width: 224px;
						background-color: transparent;
						padding-left: 10px;
					}
					button{
						width: 48px;
						height: 32px;
					    background: url(../img/icons.png) -653px -720px;
						position: absolute;
						border: none;
						right: 0;
					}
				}
			}
		}
	}
}