.widescreen{
	nav{
		width: 1160px;
		article{
			width: 800px;
			li{
				width: 65px;
			}
		}
	}
	header .top .topContent .topBox{
		width: 1160px;
	}
	.contentTop{
		width: 1160px;
		aside{
			width: 720px;
		}
	}
	.content{
		.promotion{
		 	width: 1160px;
		 	article{
				width: 885px;
				.body{
					width:920px;
				}
			}
		}
		.date{
			width: 1160px;
			article{
				width: 885px;
				.body li{
					margin: 0 35px 35px 0;
				}
			}
		}
		.game,.animation{
			width: 1160px;
			article{
				width: 885px;
				.body{
					width: 920px;
					ul{
						width: 920px;
					}
				}
			}
		}
	}
	footer .content{
		width: 1160px;
		.section{
			&:nth-child(1){
				width: 400px;
			}
			&:nth-child(2){
				width: 450px;
			}
			&:nth-child(3){
				width: 280px;
			}
			.portal{
				margin-left:40px;
			}
			li{
				width: 120px;
			}
		}
	}
}